.auth__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
}

.auth__form {
  width: 32vw;
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.1);
  padding: 32px;
  border-radius: 16px;
  background-color: #fff;
}

.auth__title {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}

.auth__input__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.auth__input__wrapper label {
  width: 120px;
}

.auth__input {
  flex: 1;
  padding: 8px;
}

.auth__btn {
  margin-top: 16px;
  width: 100%;
  padding: 8px;
  background-color: #0d6efd;
  border: 0;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}

.auth__btn:hover {
  cursor: pointer;
}

.auth__btn:active {
  transform: scale(0.98);
}

.auth__description {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.auth__description span {
  font-weight: 600;
  color: #2078fc;
}

.auth__description span:hover {
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .auth__wrapper {
    padding: 24px;
  }

  .auth__form {
    width: 80vw;
  }

  .auth__title {
    font-size: 28px;
  }

  .auth__input__wrapper {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }

  .auth__input__wrapper label {
    margin-bottom: 8px;
  }

  .auth__input {
    width: 100%;
  }

  .auth__description {
    flex-direction: column;
    font-size: 14px;
  }

  .auth__description span {
    margin-top: 8px;
  }
}
