.status__wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.status__message {
  width: 32vw;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 60px;
  border-radius: 12px;
}

.status__img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12px;
}

.status__img {
  width: 32%;
}

.auth__btn.success__btn {
  background-color: #22c55e;
}

.auth__btn.error__btn {
  background-color: #ef4444;
}

.payment__status {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.payment__description {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 12px;
}
