.home__wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home__tile {
  font-size: 100px;
  font-weight: 600;
}

.home__subtitle {
  display: block;
}

.home__button__wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.home__button {
  width: 32%;
  background-color: #0d6efd;
  border: none;
  padding: 12px;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.1);
}

.home__button:hover {
  cursor: pointer;
}
